<!-- Copyright 2004, Ralink Technology Corporation All Rights Reserved. -->
<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<META http-equiv="Content-Type" content="text/html; charset=big5">
<link href="css.css" rel="stylesheet" type="text/css">
<title>Ralink Wireless Access Point</title>
<SCRIPT language=JavaScript src=wireless.js></SCRIPT>
<SCRIPT language=JavaScript src=utils.js></SCRIPT>
<SCRIPT language=JavaScript src=spec.js></SCRIPT>
<SCRIPT language=JavaScript src=utils_adv.js></SCRIPT>
<SCRIPT language="JavaScript" type="text/javascript">


/*REAL
<%
CGI_MAP(apcli_ssid, CFG_WLN_ApCliSsid);
CGI_MAP(apcli_bssid, CFG_WLN_ApCliBssid);
CGI_MAP(apcli_enable, CFG_WLN_ApCliEnable);
CGI_MAP(apcli_wep_key_method, CFG_WLN_ApCliKey1Type);
CGI_MAP(ApCliKey2Type2, CFG_WLN_ApCliKey2Type);
CGI_MAP(ApCliKey3Type2, CFG_WLN_ApCliKey3Type);
CGI_MAP(ApCliKey4Type2, CFG_WLN_ApCliKey4Type);
CGI_MAP(apcli_wep_key_1, CFG_WLN_ApCliKey1Str);
CGI_MAP(apcli_wep_key_2, CFG_WLN_ApCliKey2Str);
CGI_MAP(apcli_wep_key_3, CFG_WLN_ApCliKey3Str);
CGI_MAP(apcli_wep_key_4, CFG_WLN_ApCliKey4Str);
CGI_MAP(apcli_passphrase, CFG_WLN_ApCliWPAPSK);
CGI_MAP(apcliencryptype2, CFG_WLN_ApCliEncrypType);
CGI_MAP(apcliauth2, CFG_WLN_ApCliAuthMode);
CGI_MAP(ApCliDefaultKeyID2, CFG_WLN_ApCliDefaultKeyID);
CGI_MAP(opmode, CFG_SYS_OPMODE);
%>
REAL*/

var apclissid = "<% CGI_CFG_GET(CFG_WLN_ApCliSsid); %>";
var apclienable = "<% CGI_CFG_GET(CFG_WLN_ApCliEnable); %>"; 
var apclibssid = "<% CGI_CFG_GET(CFG_WLN_ApCliBssid); %>"; 
var apcliauth = "<% CGI_CFG_GET(CFG_WLN_ApCliAuthMode); %>"; 
var apcliencryptype = "<% CGI_CFG_GET(CFG_WLN_ApCliEncrypType); %>";
var apcliwepkeytype = "<% CGI_CFG_GET(CFG_WLN_ApCliKey1Type); %>";
var apcliwepkey1 = "<% CGI_CFG_GET(CFG_WLN_ApCliKey1Str); %>"; 
var apcliwepkey2 = "<% CGI_CFG_GET(CFG_WLN_ApCliKey2Str); %>"; 
var apcliwepkey3 = "<% CGI_CFG_GET(CFG_WLN_ApCliKey3Str); %>"; 
var apcliwepkey4 = "<% CGI_CFG_GET(CFG_WLN_ApCliKey4Str); %>"; 
var apcliwepdefaultKey = "<% CGI_CFG_GET(CFG_WLN_ApCliDefaultKeyID); %>"; 
var apcliwpakey = "<% CGI_CFG_GET(CFG_WLN_ApCliWPAPSK); %>"; 

var apcliencryptype_s;
var apcliauth_s;
var __opmode = 1*getCfg("opmode");

function CheckHex(name, index, count)
{
	var	val, i;

	val = eval('document.wireless_apcli_setup'+'.'+name+index+'.value');	
	
	for(i=0; i<count; i++)
	{
	  if(isNaN(parseInt(val.charAt(i), 16)))
	  {
		return false;
	  }
	}
	
	return true;
}

function CheckMAC()
{
	var	val, i, idx;

	val = document.wireless_apcli_setup.apcli_bssid.value;

	if (val == "")
		return true;

	for(i = 0; i < 5; i++)
	{
		if(isNaN(parseInt(val.charAt(3*i), 16)))
		{
			alert('The bssid is worng format or using incorrect characters.');
			document.wireless_apcli_setup.apcli_bssid.focus();
			document.wireless_apcli_setup.apcli_bssid.select();
			return false;
		}	
		else if(isNaN(parseInt(val.charAt(3*i+1), 16)))
		{
			alert('The bssid is worng format or using incorrect characters.');
			document.wireless_apcli_setup.apcli_bssid.focus();
			document.wireless_apcli_setup.apcli_bssid.select();
			return false;
		}    
		else if (val.charAt(3*i+2) != ':')
		{
			alert('The bssid is worng format or using incorrect characters.');
			document.wireless_apcli_setup.apcli_bssid.focus();
			document.wireless_apcli_setup.apcli_bssid.select();
			return false;
		}    
	}

	if(isNaN(parseInt(val.charAt(15), 16)))
	{
		alert('The bssid is worng format or using incorrect characters.');
		document.wireless_apcli_setup.apcli_bssid.focus();
		document.wireless_apcli_setup.apcli_bssid.select();
		return false;
	}
	else if(isNaN(parseInt(val.charAt(16), 16)))
	{
		alert('The bssid is worng format or using incorrect characters.');
		document.wireless_apcli_setup.apcli_bssid.focus();
		document.wireless_apcli_setup.apcli_bssid.select();
		return false;
	}

	return true;
}

function ReplaceAll(inputString) 
{
	var regex='&quot;'; 
	var str5 = new String(inputString);

	while (str5.indexOf(regex) != -1) 
	{
		str5 = str5.replace(regex, '\"');
	}

	return str5;
}

function initValue()
{
	document.getElementById("div_apcli_enable").style.visibility = "hidden";
	document.getElementById("div_apcli_enable").style.display = "none";
	document.wireless_apcli_setup.apcli_ssid.disabled = true;
	document.wireless_apcli_setup.apcli_bssid.disabled = true;
	document.wireless_apcli_setup.apcli_s_mode.disabled = true;
	document.getElementById("div_apcli_wep").style.visibility = "hidden";
	document.getElementById("div_apcli_wep").style.display = "none";
	document.wireless_apcli_setup.apcli_wep_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_length.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_method.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_1.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_2.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_3.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_4.disabled = true;
	document.wireless_apcli_setup.apcli_wep_default_key.disabled = true;
	document.getElementById("div_apcli_wpa").style.visibility = "hidden";
	document.getElementById("div_apcli_wpa").style.display = "none";
	document.wireless_apcli_setup.apcli_wpa_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wpa_cipher.disabled = true;
	document.wireless_apcli_setup.apcli_passphrase.disabled = true;

	document.wireless_apcli_setup.apcli_wep_key_1.value = apcliwepkey1;
	document.wireless_apcli_setup.apcli_wep_key_2.value = apcliwepkey2;
	document.wireless_apcli_setup.apcli_wep_key_3.value = apcliwepkey3;
	document.wireless_apcli_setup.apcli_wep_key_4.value = apcliwepkey4;
	document.wireless_apcli_setup.apcli_passphrase.value = apcliwpakey;


	if (1*apclienable == 1)
	{
		document.getElementById("div_apcli_enable").style.visibility = "visible";
		document.getElementById("div_apcli_enable").style.display = "";
		document.wireless_apcli_setup.apcli_ssid.disabled = false;
		document.wireless_apcli_setup.apcli_bssid.disabled = false;
		document.wireless_apcli_setup.apcli_s_mode.disabled = false;
		document.wireless_apcli_setup.apcli_enable.options.selectedIndex = 1;

		if(apclissid != '')
				document.wireless_apcli_setup.apcli_ssid.value = ReplaceAll(apclissid);
		
		if (apcliencryptype == 'NONE')
		{
			document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex = 0;
		}
		else if (apcliencryptype == 'WEP')
		{
			// <!-- WEP -->
			document.getElementById("div_apcli_wep").style.visibility = "visible";
			document.getElementById("div_apcli_wep").style.display = "";
			document.wireless_apcli_setup.apcli_wep_auth_mode.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_length.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_method.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_1.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_2.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_3.disabled = false;
			document.wireless_apcli_setup.apcli_wep_key_4.disabled = false;
			document.wireless_apcli_setup.apcli_wep_default_key.disabled = false;

			document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex = 1;
			if (apcliauth == 'OPEN')
				document.wireless_apcli_setup.apcli_wep_auth_mode.options.selectedIndex = 0;
			else
				document.wireless_apcli_setup.apcli_wep_auth_mode.options.selectedIndex = 1;

			if (1*apcliwepkeytype == 0)
				document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex = 0;
			else
				document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex = 1;

			if (1*apcliwepdefaultKey == 1)
				document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex = 0;
			else if (1*apcliwepdefaultKey == 2)
				document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex = 1;
			else if (1*apcliwepdefaultKey == 3)
				document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex = 2;
			else if (1*apcliwepdefaultKey == 4)
				document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex = 3;

			if (apcliwepkey1 != "")
			{
				if ((document.wireless_apcli_setup.apcli_wep_key_1.value.length == 5) || (document.wireless_apcli_setup.apcli_wep_key_1.value.length == 10))
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 0;
				else
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 1;
			}

			if (apcliwepkey2 != "")
			{
				if ((document.wireless_apcli_setup.apcli_wep_key_2.value.length == 5) || (document.wireless_apcli_setup.apcli_wep_key_2.value.length == 10))
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 0;
				else
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 1;
			}

			if (apcliwepkey3 != "")
			{
				if ((document.wireless_apcli_setup.apcli_wep_key_3.value.length == 5) || (document.wireless_apcli_setup.apcli_wep_key_3.value.length == 10))
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 0;
				else
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 1;
			}

			if (apcliwepkey4 != "")
			{
				if ((document.wireless_apcli_setup.apcli_wep_key_4.value.length == 5) || (document.wireless_apcli_setup.apcli_wep_key_4.value.length == 10))
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 0;
				else
					document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex = 1;
			}

			APClientWepKeyLengthOnChange();
			
			document.wireless_apcli_setup.apcli_wep_key_1.value = apcliwepkey1;
			document.wireless_apcli_setup.apcli_wep_key_2.value = apcliwepkey2;
			document.wireless_apcli_setup.apcli_wep_key_3.value = apcliwepkey3;
			document.wireless_apcli_setup.apcli_wep_key_4.value = apcliwepkey4;
		}
		else if ((apcliencryptype == "TKIP") || (apcliencryptype == "AES"))
		{
			// <!-- WPA-PSK,WPA2-PSK -->
			document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex = 2;
			document.getElementById("div_apcli_wpa").style.visibility = "visible";
			document.getElementById("div_apcli_wpa").style.display = "";
			document.wireless_apcli_setup.apcli_wpa_auth_mode.disabled = false;
			document.wireless_apcli_setup.apcli_wpa_cipher.disabled = false;
			document.wireless_apcli_setup.apcli_passphrase.disabled = false;

			if (apcliauth == 'WPAPSK')
				document.wireless_apcli_setup.apcli_wpa_auth_mode.options.selectedIndex = 0;
			else
				document.wireless_apcli_setup.apcli_wpa_auth_mode.options.selectedIndex = 1;

			if (apcliencryptype == "TKIP")
				document.wireless_apcli_setup.apcli_wpa_cipher[0].checked = true;
			else
				document.wireless_apcli_setup.apcli_wpa_cipher[1].checked = true;
		}
	}
	else
	{
		document.wireless_apcli_setup.apcli_enable.options.selectedIndex = 0;
	}
}

function APClientEnableOnChange()
{
	document.getElementById("div_apcli_enable").style.visibility = "hidden";
	document.getElementById("div_apcli_enable").style.display = "none";
	document.wireless_apcli_setup.apcli_ssid.disabled = true;
	document.wireless_apcli_setup.apcli_bssid.disabled = true;
	document.wireless_apcli_setup.apcli_s_mode.disabled = true;
	document.getElementById("div_apcli_wep").style.visibility = "hidden";
	document.getElementById("div_apcli_wep").style.display = "none";
	document.wireless_apcli_setup.apcli_wep_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_length.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_method.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_1.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_2.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_3.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_4.disabled = true;
	document.wireless_apcli_setup.apcli_wep_default_key.disabled = true;
	document.getElementById("div_apcli_wpa").style.visibility = "hidden";
	document.getElementById("div_apcli_wpa").style.display = "none";
	document.wireless_apcli_setup.apcli_wpa_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wpa_cipher.disabled = true;
	document.wireless_apcli_setup.apcli_passphrase.disabled = true;

	if (document.wireless_apcli_setup.apcli_enable.options.selectedIndex == 1)
	{
		document.getElementById("div_apcli_enable").style.visibility = "visible";
		document.getElementById("div_apcli_enable").style.display = "";
		document.wireless_apcli_setup.apcli_ssid.disabled = false;
		document.wireless_apcli_setup.apcli_bssid.disabled = false;
		document.wireless_apcli_setup.apcli_s_mode.disabled = false;

		APClientSecurityOnChange();
	}
}

function APClientSecurityOnChange()
{
	document.getElementById("div_apcli_wep").style.visibility = "hidden";
	document.getElementById("div_apcli_wep").style.display = "none";
	document.wireless_apcli_setup.apcli_wep_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_length.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_method.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_1.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_2.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_3.disabled = true;
	document.wireless_apcli_setup.apcli_wep_key_4.disabled = true;
	document.wireless_apcli_setup.apcli_wep_default_key.disabled = true;
	document.getElementById("div_apcli_wpa").style.visibility = "hidden";
	document.getElementById("div_apcli_wpa").style.display = "none";
	document.wireless_apcli_setup.apcli_wpa_auth_mode.disabled = true;
	document.wireless_apcli_setup.apcli_wpa_cipher.disabled = true;
	document.wireless_apcli_setup.apcli_passphrase.disabled = true;

	if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 1)
	{
		// <!-- WEP -->
		document.getElementById("div_apcli_wep").style.visibility = "visible";
		document.getElementById("div_apcli_wep").style.display = "";
		document.wireless_apcli_setup.apcli_wep_auth_mode.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_length.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_method.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_1.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_2.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_3.disabled = false;
		document.wireless_apcli_setup.apcli_wep_key_4.disabled = false;
		document.wireless_apcli_setup.apcli_wep_default_key.disabled = false;

		APClientWepKeyLengthOnChange();
	}
	else if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 2)
	{
		// <!-- WPA-PSK,WPA2-PSK -->
		document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex = 2;
		document.getElementById("div_apcli_wpa").style.visibility = "visible";
		document.getElementById("div_apcli_wpa").style.display = "";
		document.wireless_apcli_setup.apcli_wpa_auth_mode.disabled = false;
		document.wireless_apcli_setup.apcli_wpa_cipher.disabled = false;
		document.wireless_apcli_setup.apcli_passphrase.disabled = false;
	}
}

function APClientWepKeyLengthOnChange()
{
	document.wireless_apcli_setup.apcli_wep_key_1.value = '';
	document.wireless_apcli_setup.apcli_wep_key_2.value = '';
	document.wireless_apcli_setup.apcli_wep_key_3.value = '';
	document.wireless_apcli_setup.apcli_wep_key_4.value = '';

	if (document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex == 0)
	{
		// <!-- KEY length 64 bits -->
		if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 0)
		{
			// <!-- HEX -->
			document.wireless_apcli_setup.apcli_wep_key_1.maxLength = 10;
			document.wireless_apcli_setup.apcli_wep_key_2.maxLength = 10;
			document.wireless_apcli_setup.apcli_wep_key_3.maxLength = 10;
			document.wireless_apcli_setup.apcli_wep_key_4.maxLength = 10;
		}
		else
		{
			// <!-- ASCII -->
			document.wireless_apcli_setup.apcli_wep_key_1.maxLength = 5;
			document.wireless_apcli_setup.apcli_wep_key_2.maxLength = 5;
			document.wireless_apcli_setup.apcli_wep_key_3.maxLength = 5;
			document.wireless_apcli_setup.apcli_wep_key_4.maxLength = 5;
		}
	}
	else
	{
		// <!-- KEY length 128 bits -->
		if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 0)
		{
			// <!-- HEX -->
			document.wireless_apcli_setup.apcli_wep_key_1.maxLength = 26;
			document.wireless_apcli_setup.apcli_wep_key_2.maxLength = 26;
			document.wireless_apcli_setup.apcli_wep_key_3.maxLength = 26;
			document.wireless_apcli_setup.apcli_wep_key_4.maxLength = 26;
		}
		else
		{
			// <!-- ASCII -->
			document.wireless_apcli_setup.apcli_wep_key_1.maxLength = 13;
			document.wireless_apcli_setup.apcli_wep_key_2.maxLength = 13;
			document.wireless_apcli_setup.apcli_wep_key_3.maxLength = 13;
			document.wireless_apcli_setup.apcli_wep_key_4.maxLength = 13;
		}
	}
}

function init()
{
	var f=document.LAN;
	cfg2Form(f);
}

function Cancel() 
{
	init();
}

function Help()
{
	window.open("help_home.htm#lan","help");
}

function Apply()
{
	var wpapsk_length = document.wireless_apcli_setup.apcli_passphrase.value.length;
	var wpapsk_value = document.wireless_apcli_setup.apcli_passphrase.value;
	var IfmodeChange = 0;

	if (CheckMAC() == false)
		//return false;
		return;

	if (apclienable != document.wireless_apcli_setup.apcli_enable.options.selectedIndex)
		IfmodeChange = 1;	
	
	if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 1)
	{
		if (document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex == 0)
		{
			// <!-- KEY length 64 bits -->
			if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 0)
			{
				// <!-- HEX -->
				for (i = 1; i <= 4; i++)
				{
					if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value != "")
					{
						if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value.length != 10)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The encryption key should be Hexadecimal digits and 10 characters.');
							//return false;
							return;
						}
						else
						{
							if (CheckHex('apcli_wep_key_', i, 10) == false)
							{
								eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
								eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
								alert('The encryption key should be Hexadecimal digits and 10 characters.');
								//return false; 
								return;
							}
						}
					}
					else
					{
						if ((1*document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex + 1) == i)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The encryption key should be Hexadecimal digits and 10 characters.');
							//return false; 
							return;
						}
					}
				}
			}
			else if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 1)
			{
				// <!-- ASCII -->
				for (i = 1; i <= 4; i++)
				{
					if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value != "")
					{
						if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value.length != 5)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The WEP key should be Alphanumeric and 5 characters.');
							//return false;
							return;
						}
					}
					else
					{
						if ((1*document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex + 1) == i)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The WEP key should be Alphanumeric and 5 characters.');
							//return false; 
							return;
						}
					}
				}
			}
		}
		else if (document.wireless_apcli_setup.apcli_wep_key_length.options.selectedIndex == 1)
		{
			// <!-- KEY length 128 bits -->
			if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 0)
			{
				// <!-- HEX -->
				for (i = 1; i <= 4; i++)
				{
					if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value != "")
					{
						if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value.length != 26)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The encryption key should be Hexadecimal digits and 26 characters.');
							//return false;
							return;
						}
						else
						{
							if (CheckHex('apcli_wep_key_', i, 26) == false)
							{
								eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
								eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
								alert('The encryption key should be Hexadecimal digits and 26 characters.');
								//return false;
								return;
							}
						}
					}
					else
					{
						if ((1*document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex + 1) == i)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The encryption key should be Hexadecimal digits and 26 characters.');
							//return false; 
							return;
						}
					}
				}
			}
			else if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 1)
			{
				// <!-- ASCII -->
				for (i = 1; i <= 4; i++)
				{
					if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value != "")
					{
						if (eval("document.wireless_apcli_setup.apcli_wep_key_"+i).value.length != 13)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The WEP key should be Alphanumeric and 13 characters.');
							//return false;
							return;
						}
					}
					else
					{
						if ((1*document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex + 1) == i)
						{
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).focus();
							eval("document.wireless_apcli_setup.apcli_wep_key_"+i).select();
							alert('The WEP key should be Alphanumeric and 13 characters.');
							//return false; 
							return;
						}
					}
				}
			}
		}
	}
	else if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 2)
	{
		if ((1*wpapsk_length < 8) || (1*wpapsk_length > 64))
		{
			document.wireless_apcli_setup.apcli_passphrase.focus();
			document.wireless_apcli_setup.apcli_passphrase.select();
			alert('The entered Pre-Shared Key is invalid. Enter a valid Pre-Shared Key of between 8 to 63 alphanumeric characters or 64 hexadecimal characters. (0-9, a-f and A-F)');
			//return false;
			return;
		}

		if (1*wpapsk_length == 64)
		{
			for(i = 0; i < 64; i++)
			{
				if(isNaN(parseInt(wpapsk_value.charAt(i), 16)))
				{
					document.wireless_apcli_setup.apcli_passphrase.focus();
					document.wireless_apcli_setup.apcli_passphrase.select();
					alert('The entered Pre-Shared Key is invalid. Enter a valid Pre-Shared Key of between 8 to 63 alphanumeric characters or 64 hexadecimal characters. (0-9, a-f and A-F)');
					//return false;
					return;
				}
			}
		}
	}

	apcliencryptype_s = '';
	apcliauth_s = '';
	if(document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 0)
	{
		apcliencryptype_s = 'NONE';
		apcliauth_s = 'OPEN';
	}
	else if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 1)
	{
		apcliencryptype_s = 'WEP';
		if(document.wireless_apcli_setup.apcli_wep_auth_mode.options.selectedIndex == 0)
			apcliauth_s = 'OPEN';
		else if (document.wireless_apcli_setup.apcli_wep_auth_mode.options.selectedIndex == 1)
			apcliauth_s = 'SHARED';
	}
	else if (document.wireless_apcli_setup.apcli_s_mode.options.selectedIndex == 2)
	{
		if (document.wireless_apcli_setup.apcli_wpa_cipher[0].checked == true)
			apcliencryptype_s = 'TKIP';
		else if(document.wireless_apcli_setup.apcli_wpa_cipher[1].checked == true)
			apcliencryptype_s = 'AES';

		if(document.wireless_apcli_setup.apcli_wpa_auth_mode.options.selectedIndex == 0)
			apcliauth_s = 'WPAPSK';
		else if (document.wireless_apcli_setup.apcli_wpa_auth_mode.options.selectedIndex == 1)
			apcliauth_s = 'WPA2PSK';
	}
	document.wireless_apcli_setup.apcliencryptype2.value = apcliencryptype_s;
	document.wireless_apcli_setup.apcliauth2.value = apcliauth_s;


	if (document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex == 0)
		document.wireless_apcli_setup.ApCliDefaultKeyID2.value = 1;
	else if (document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex == 1)
		document.wireless_apcli_setup.ApCliDefaultKeyID2.value = 2;
	else if (document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex == 2)
		document.wireless_apcli_setup.ApCliDefaultKeyID2.value = 3;
	else if (document.wireless_apcli_setup.apcli_wep_default_key.options.selectedIndex == 3)
		document.wireless_apcli_setup.ApCliDefaultKeyID2.value = 4;

	if (document.wireless_apcli_setup.apcli_wep_key_method.options.selectedIndex == 0)
	{
		document.wireless_apcli_setup.ApCliKey2Type2.value = 0;
		document.wireless_apcli_setup.ApCliKey3Type2.value = 0;
		document.wireless_apcli_setup.ApCliKey4Type2.value = 0;
	}
	else
	{
		document.wireless_apcli_setup.ApCliKey2Type2.value = 1;
		document.wireless_apcli_setup.ApCliKey3Type2.value = 1;
		document.wireless_apcli_setup.ApCliKey4Type2.value = 1;
	}		
	
	var f=document.wireless_apcli_setup;
	
	form2Cfg(f);

	if (IfmodeChange)
		subForm(f,'do_cmd.htm','LAN',cPage);
	else
		subForm(f,'do_cmd.htm','WIRELESS_APCLI_SETUP',cPage);

	return true;
}

</script>
</head>

<link rel=stylesheet type=text/css href=style.css>
<BODY leftmargin=0 topmargin=0 onload=initValue()>

<TABLE WIDTH=100%>
  <script>pageHead();</script>

<form method=get name=wireless_apcli_setup action=wireless_apcli_setup.html onSubmit="return Apply()">

	<table width=100% cellspacing=2 cellpadding=0>
		<tr> 
			  <td colspan=2><font face=Arial color=#8bacb1 size=2><b>AP-Client Configuration Setup</b></font></td>
		</tr>
	</table>
	
	<table width = "540" border = "0" cellpadding = "2" cellspacing = "1">
		<tr align="center">
			<td><b>APCli Function</b></td>
			<td>
				<select name="apcli_enable" size="1" style="{font-family:arial; width:240px; color:#003366; font-weight: bold; font-size: 9pt;}" onChange="APClientEnableOnChange()">
					<option value=0 selected>Disable</option>
					<option value=1>Enable</option>
				</select>
			</td>
		</tr>
	</table>
	<input type="hidden" name="apcliencryptype2">
	<input type="hidden" name="apcliauth2">
	<input type="hidden" name="ApCliDefaultKeyID2">
	<input type="hidden" name="ApCliKey2Type2">
	<input type="hidden" name="ApCliKey3Type2">
	<input type="hidden" name="ApCliKey4Type2">
	<br>
	<hr width="540" align="left">
	<br>
	<table id="div_apcli_enable" name="div_apcli_enable" width="540" border="1" cellspacing="1" cellpadding="3" vspace="2" hspace="2" bordercolor="#9BABBD" style="visibility:visible;display:;">
		<tr> 
			<td bgcolor="#B7DCFB" colspan="2"><font color="#333333"><b>Wireless Network</b></font></td>
		</tr>
		<tr> 
			<td width="45%" bgcolor="#E8F8FF" nowrap>Network Name(SSID)</td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_ssid size=20 maxlength=32 value=""></td>
		</tr>
		<tr> 
			<td width="45%" bgcolor="#E8F8FF" nowrap>BSSID</td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_bssid size=20 maxlength=17 value="<% CGI_WLN_APCLIENT_BSSID();%>"> (optional)</td>
		</tr>
		<tr> 
			<td width="45%" bgcolor="#E8F8FF" nowrap>Security Mode</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_s_mode" size="1" style="{font-family:arial; width:180px; color:#003366; font-weight: bold; font-size: 9pt;}" onChange="APClientSecurityOnChange()">
					<option value=0 selected>Disable</option>
					<option value=1>WEP</option>
					<option value=2>WPA</option>
				</select>
			</td>
		</tr>
	</table>
	<br>
	<table id="div_apcli_wep" name="div_apcli_wep" width="540" border="1" cellspacing="1" cellpadding="3" vspace="2" hspace="2" bordercolor="#9BABBD" style="visibility:visible;display:;">
		<tr> 
			<td bgcolor="#B7DCFB" colspan="3"><font color="#333333"><b>Wire Equivalence Protection (WEP)</b></font></td>
		</tr>
		<tr> 
			<td width="45%" colspan="2" bgcolor="#E8F8FF" nowrap>Authentication Type</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_wep_auth_mode" size="1" style="{font-family:arial; width:120px; color:#003366; font-weight: bold; font-size: 9pt;}">
					<option value=0 selected>Open System</option>
					<option value=1>Shared Key</option>
				</select>
			</td>
		</tr>
		<tr> 
			<td width="45%" colspan="2" bgcolor="#E8F8FF" nowrap>WEP Key Length</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_wep_key_length" size="1" style="{font-family:arial; width:240px; color:#003366; font-weight: bold; font-size: 9pt;}" onChange="APClientWepKeyLengthOnChange()">
					<option value=0 selected>64 bit (10 hex digits/ 5 ascii keys)</option>
					<option value=1>128 bit (26 hex digits/13 ascii keys)</option>
				</select>
			</td>
		</tr>
		<tr> 
			<td width="45%" colspan="2" bgcolor="#E8F8FF" nowrap>WEP Key Entry Method</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_wep_key_method" size="1" style="{font-family:arial; width:120px; color:#003366; font-weight: bold; font-size: 9pt;}" onChange="APClientWepKeyLengthOnChange()">
					<option value=0 selected>Hexadecimal</option>
					<option value=1>Ascii Text</option>
				</select>
			</td>
		</tr>
		<tr> 
			<td width="25%" rowspan="4" bgcolor="#E8F8FF" nowrap>WEP Keys</td>
			<td width="20%" bgcolor="#E8F8FF" align="center" nowrap>WEP Key 1 :</td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_wep_key_1 maxlength=26 value=""></td>
		</tr>
		<tr> 
			<td width="20%" bgcolor="#E8F8FF" align="center" nowrap>WEP Key 2 : </td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_wep_key_2 maxlength=26 value=""></td>
		</tr>
		<tr> 
			<td width="20%" bgcolor="#E8F8FF" align="center" nowrap>WEP Key 3 : </td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_wep_key_3 maxlength=26 value=""></td>
		</tr>
		<tr> 
			<td width="20%" bgcolor="#E8F8FF" align="center" nowrap>WEP Key 4 : </td>
			<td bgcolor="#FFFFFF"><input type=text name=apcli_wep_key_4 maxlength=26 value=""></td>
		</tr>
		<tr> 
			<td width="45%" colspan="2" bgcolor="#E8F8FF" nowrap>Default Key</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_wep_default_key" size="1" style="{font-family:arial; width:120px; color:#003366; font-weight: bold; font-size: 9pt;}">
					<option value=1 selected>Key 1</option>
					<option value=2>Key 2</option>
					<option value=3>Key 3</option>
					<option value=4>Key 4</option>
				</select>
			</td>
		</tr>
	</table>
	<table id="div_apcli_wpa" name="div_apcli_wpa" width="540" border="1" cellspacing="1" cellpadding="3" vspace="2" hspace="2" bordercolor="#9BABBD" style="visibility:visible;display:;">
		<tr> 
			<td bgcolor="#B7DCFB" colspan="2"><font color="#333333"><b>WPA</b></font></td>
		</tr>
		<tr> 
			<td width="45%" bgcolor="#E8F8FF" nowrap>Authentication Mode</td>
			<td bgcolor="#FFFFFF">
				<select name="apcli_wpa_auth_mode" size="1" style="{font-family:arial; width:210px; color:#003366; font-weight: bold; font-size: 9pt;}">
					<option value=0 selected>WPA-Personal</option>
					<option value=1>WPA2-Personal</option>
				</select>
			</td>
		</tr>
		<tr> 
			<td width="45%" bgcolor="#E8F8FF" nowrap>WPA Algorithms</td>
			<td bgcolor="#FFFFFF"><font color="#003366" face=arial><b>
				<input type=radio name=apcli_wpa_cipher value="0" checked>TKIP &nbsp;
				<input type=radio name=apcli_wpa_cipher value="1">AES &nbsp;
			</b></font></td>
		</tr>
		<tr>
			<td width="45%" bgcolor="#E8F8FF" nowrap>Pass Phrase</td>
			<td bgcolor="#FFFFFF">
				<input type=text name=apcli_passphrase size=28 maxlength=64 value="">
			</td>
		</tr>
	</table>
	<br>

</form>  

<script>pageButton();</script>
<script>pageTail();</script>

</body>
</html>
