
*.d
*.dump
*.bin
*.img
*.map


*.o
control
!control/
*.o.cmd
*.mod
*.ko

.version
vmlinux
System.map

.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
Module.symvers
modules.builtin
modules.order
*.mod.c
autoconf.h
auto.conf
tristate.conf

*.patch

.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
