.pageMain{
	margin-top:10px;
}
.comment{
	width:100%;
	min-width:1000px;
	margin-top:50px;
	margin-bottom:50px;
}
.comment-content{
	width:450px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border: 1px solid #d8d8d8;
}
.comment-text{
	text-align:center;
	width:400px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	color:#666;
}
.div-item-line{
	width:318px;
	margin:0 auto;
	height:36px;
	border:1px solid #d8d8d8;
	font-size:17px;
}

.form-label{
	line-height:36px;
	padding-left:10px;
}
.txt-ssid{
	border:none;
	height:34px;
	line-height:36px;
	text-align:center;
	width:170px;
	overflow:hidden;
	background-color:#FFF;
	float:right;
}
.icon-arrow-down{
	display:block;
	width:24px;
	height:24px;
	margin:0 auto;
	margin-top:6px;
	margin-right:6px;
	background:url(../images/arrow_down.png) no-repeat center;
	cursor:pointer;
}
.reload{
	display:block;
	width:24px;
	height:24px;
	background:url(../images/search.png) no-repeat center;
	cursor:pointer;
	position: absolute;
    right: -32px;
    top: 8px;
}
.wifiList{
	width:320px;
	background-color:#FFF;
	margin:0 auto;
}
.ul-wifiList{
	width:270px;
	height:auto;
	max-height:260px;
	border: 1px solid #d8d8d8;
	overflow-y:auto;
	padding:0 10px;
	margin:0;
	margin-bottom:10px;
	border-top:none;
	margin:0 auto;
}
.li-wifiList{
	width:100%;
	height:36px;
	border-bottom:1px solid #d8d8d8;
	line-height:36px;
	cursor:pointer;
	overflow:hidden;
	font-size:14px;
	color:#999;
}
.lock{
	display:block;
	width:15px;
	height:44px;
	background:url(../images/lock.png) no-repeat center;
	float:right;
}
.wifi_level_1 ,.wifi_level_2 ,.wifi_level_3{
	display:block;
	width:15px;
	height:44px;
	float:right;
}
.wifi_level_1{
	background:url(../images/wifi1.png) no-repeat center;
}
.wifi_level_2{
	background:url(../images/wifi2.png) no-repeat center;
}
.wifi_level_3{
	background:url(../images/wifi3.png) no-repeat center;
}

.ex-passwd{
	clear:both;
	position: relative;
    z-index: 33;
    width: 290px;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    height: 37px;
    line-height: 36px;
	margin-top:15px;
}

.div-label{
	margin:0;
	width:28%;
	height:36px;
	float:left;
	text-align:right;
	line-height:36px;
}
.passwd-label {
	margin:0;
	padding-right:5px;
}
.input-passwd{
	width:58%;
	height:35px;
	border:none;
	line-height:35px;
	float:right;
	margin-right:35px;
}
