html,body {
    height: 100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:微软雅黑;
}
/* PC或中大型笔记本设备 desktop */

    @media all and (min-width: 1201px) {

        .title-desktop{

            display: block !important;

        }

        .container {

            width: 100%;

        }

    }

    /* 中小型笔记本或大平板 laptop */

    @media all and (min-width: 980px) and (max-width: 1200px) {

        .title-laptop{

            display: block !important;

        }

        .container {

            width: 920px;

        }

    }

    /* 中型平板或小型笔记本 tablet */

    @media all and (min-width: 768px) and (max-width: 979px) {

        .title-tablet{

            display: block !important;

        }

        .container {

            width: 720px;

        }

    }

    /* 手机或小平板 phone */

    @media all and (max-width: 767px) {

        .title-phone{

            display: block !important;

        }

        .container {

            width: 100%;

        }

    }
input,
button,
select,
textarea{outline:none}
#page_header{
	background-color:#ffc69e;
	width:100%;
	height:auto;
	min-height:140px;
	padding:0;
	margin:0;
	text-align:center;
	display: block !important;
	overflow: -webkit-paged-x;
}
.page_title{
	height:auto;
	margin: 0 auto;
	margin-bottom: 10px;
}
h1 {
	font-size: 30px;
    color: #fff;
    text-align: center;
    height: 60px;
	margin:0;
	display: inline-block;
}
h2 {
	font-size: 25px;
    color: #fff;
    text-align: center;
    height: 60px;
	line-height:60px;
	margin:0;
}
#page_main{
	width:auto;
	height:448px;
	margin:0 auto;
	display: block !important;
}
#wifi_logo{
	width:320px;
	height:400px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#wifi_logo img{
	vertical-align:middle;
}
#wifi_logo span{
	height:100%;
	width:0;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
}
#btn_start{
	width:320px;
	height:48px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#btn{
	width:320px;
	height:48px;
	color:#FFF;
    background: #bb7f56;
    cursor: pointer;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-family: '微软雅黑';
	border-radius: 40px;
	font-size:20px;
}
.upgrade{
	width:300px;
	height:40px;
	line-height:40px;
    cursor: pointer;
	color:#bb7f56;
    vertical-align: baseline;
	text-align:right;
}
.upgrade a{
	color:#bb7f56;
	text-decoration:none;
	font-size:13px;
	
}