<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>Ralink Wireless Access Point</TITLE>
    <SCRIPT language="JavaScript" src="js/utils.js"></SCRIPT>
    <SCRIPT language="JavaScript" src="js/utils_adv.js"></SCRIPT>
    <SCRIPT language="JavaScript" src="js/spec.js"></SCRIPT>
    <SCRIPT language="JavaScript">
    var typeStr = ["", "Static  IP", "Dynamic IP", "PPPoE", "PPTP", "L2TP"];
    var statStr = ["Disconnect", "Connect", "Connecting"];

    /*DEMO*/
    conStat = 2;
    wanIP = "0.0.0.0";
    subMask = "255.255.0.0";
    gateWay = "0.0.0.0";
    dns1 = "0.0.0.0";
    dns2 = "0.0.0.0";
    dname = "domain.com";
    conntime = "530";
    conType = 2;
    pppoeMode = "0";
    ipAddr = "192.168.0.1";
    gateSubMsk = "255.255.255.0";
    dhcpServer = 0;
    firewall = 0;
    NAT = 1;
    run_code_ver = "v1.00(C)";
    firmareDate = dateStrC(1103895780 + 28800);
    lan_mac = "00:AA:00:12:34:56";
    wan_mac = "00:AA:00:12:34:57";
    uptime = 100;
    curtime = 5;
    addCfg("opmode", 100, "3");
    /*END_DEMO*/

    /*REAL
    conStat=<%CGI_WAN_STAT();%>;
    wanIP="<%CGI_WAN_IP() ;%>" ;
    subMask="<% CGI_WAN_MSK(); %>" ;
    gateWay="<% CGI_WAN_GW(); %>" ;
    dns1="<% CGI_DNS1(); %>" ;
    dns2="<% CGI_DNS2(); %>" ;
    dname="<% CGI_DOMAIN(); %>" ;
    conntime="<% CGI_WAN_CONN_TIME(); %>" ;
    conType="<% CGI_CFG_GET(CFG_WAN_IP_MODE);%>" ;
    pptpMode="<% CGI_CFG_GET(CFG_PTP_WANIF);%>" ;
    pppoeMode="<% CGI_CFG_GET(CFG_POE_SIPE);%>";
    l2tpMode="<% CGI_CFG_GET(CFG_L2T_WANIF);%>";
    ipAddr="<% CGI_CFG_GET(CFG_LAN_IP); %>" ;
    gateSubMsk="<% CGI_CFG_GET(CFG_LAN_MSK); %>";
    dhcpServer="<% CGI_CFG_GET(CFG_LAN_DHCPD_EN); %>";
    firewall="<% CGI_CFG_GET(CFG_FW_EN); %>";
    NAT="<% CGI_CFG_GET(CFG_NAT_EN); %>";
    run_code_ver="v<%CGI_CUST_VER_STR();%>";
    firmareDate=dateStrC(<%CGI_FMW_BUILD_SEC();%>);
    lan_mac="<% CGI_LAN_MAC();%>";
    wan_mac="<% CGI_WAN_MAC(); %>";
    uptime="<% CGI_UPTIME(); %>";
    curtime="<% CGI_TIME(); %>";
    REAL*/

    /*REAL
    <%
    CGI_MAP(opmode, CFG_SYS_OPMODE);
    %>
    REAL*/

    var __opmode = 1 * getCfg("opmode");
    var statusStr = '';
    if (conStat < statStr.length)
        statusStr = statStr[conStat];

    function preSubmit(idx) {
        var f = document.frmSetup;
        /*DEMO*/
        alert("Call " + idx + "th" + " function")
            /*END_DEMO*/

        /*REAL
        f.action.value=idx
        f.submit() ;
        REAL*/
    }

    function init() {
        if (conStat != 1) {
            if (__opmode == 3)
                setTimeout('location="info.htm"', 600000);
            else
                setTimeout('location="info.htm"', 5000);
        }
    }


    function formatStr(num, len) {
        var nbits = new String(num);
        var rst = "";

        a = len - (nbits.length)

        if (a > 0) {
            for (i = 0; i < a; i++)
                rst += "0";
            rst += num;
        } else
            rst = num;

        return rst
    }

    function parseTime(t) {
        var str = new String("");
        var tmp = parseInt(t);
        var sec = 0,
            min = 0,
            hr = 0,
            day = 0;
        sec = t % 60; //sec
        min = parseInt(t / 60) % 60; //min
        hr = parseInt(t / (60 * 60)) % 24; //hr
        day = parseInt(t / (60 * 60 * 24)); //day

        str = (day > 0 ? day + " Day,  " : "0 Day,  ") + (hr > 0 ? formatStr(hr, 2) + ":" : "00:") + (min > 0 ? formatStr(min, 2) + ":" : "00:") + (sec > 0 ? formatStr(sec, 2) + "" : "00");
        return str;
    }

    function genHTML() {
        if (dhcpServer == 1)
            enableStr = "Enable";
        else
            enableStr = "Disable";

        var modeStr = typeStr[conType];
        switch (Number(conType)) {
            case 1:
                statusStr = "";
                break;
            case 2:
                statusStr += "";
                break;
            case 3:
                if (pppoeMode == "1") modeStr = "Fixed " + modeStr;
                statusStr += "<input type=button onClick=preSubmit(3); value=Connect> <input type=button onClick=preSubmit(4); value=Disconnect>";
                break;
            case 4:
                /*REAL<% #ifdef CONFIG_PPTP_PPPOE%>REAL*/
                if (pptpMode == "2")
                    statusStr += "<input type=button onClick=preSubmit(3); value=Connect> <input type=button onClick=preSubmit(4); value=Disconnect>";
                else
                /*REAL<% #endif //CONFIG_PPTP_PPPOE%>REAL*/
                    statusStr += "<input type=button onClick=preSubmit(5); value=Connect> <input type=button onClick=preSubmit(6); value=Disconnect>";
                break;
            case 5:
                /*REAL<% #ifdef CONFIG_L2TP_OVER_PPPOE%>REAL*/
                if (l2tpMode == "2")
                    statusStr += "<input type=button onClick=preSubmit(3); value=Connect> <input type=button onClick=preSubmit(4); value=Disconnect>";
                else
                /*REAL<% #endif //CONFIG_L2TP_OVER_PPPOE%>REAL*/
                    statusStr += "<input type=button onClick=preSubmit(7); value=Connect> <input type=button onClick=preSubmit(8); value=Disconnect>";
                break;
            default:
                modeStr = "";
                statusStr = "";
                break;
        }

        var str = "";
        // LAN
        str += "<tr><td colspan=2 align=left><b>LAN</b></td></tr>";
        str += "<tr><td width=22% height=25 align=right>MAC Address</td>";
        str += "<td>" + lan_mac + "</td></tr>";
        str += "<tr><td height=25 align=right>IP Address</td>";
        str += "<td>" + ipAddr + "</td></tr>";
        str += "<tr><td height=25 align=right>Subnet Mask</td>";
        str += "<td>" + gateSubMsk + "</td></tr>";
        if (__opmode != 3) {
            str += "<tr><td height=25 align=right>DHCP Server</td>";
            str += "<td>" + enableStr + "</td></tr>";
            str += "<tr><td height=25>&nbsp;</td><td>&nbsp;</td></tr>";
        }

        // WAN
        if (__opmode != 3) {
            str += "<tr><td colspan=2><b>WAN</b></td></tr>";
            str += "<tr><td height=25 align=right>MAC Address</td>";
            str += "	<td>" + wan_mac + "</td></tr>";
            str += "<tr><td height=25 align=right>Connection</td>";
            str += "	<td>" + modeStr + " " + statusStr + "</td></tr>";
            str += "<tr><td height=25 align=right>IP Address</td>";
            str += "	<td>" + wanIP + "</td></tr>";
            str += "<tr><td height=25 align=right>Subnet Mask</td>";
            str += "	<td>" + subMask + "</td></tr>";
            str += "<tr><td height=25 align=right>Default Gateway</td>";
            //if(Number(conType)==3) 
            //	str+="	<td>"+wanIP+"</td></tr>";
            //else
            str += "	<td>" + gateWay + "</td></tr>";
            str += "<tr><td height=25 align=right>DNS</td>";
            str += "	<td>" + dns1 + "    " + dns2 + "</td></tr>";
            str += "<tr><td height=25>&nbsp;</td><td align=right></td></tr>";
        }

        document.write(str);
    }

    function sysUpTime() {
        var str = new String("");

        var tmp_upTime = uptime;
        str += "Run Time:" + parseTime(tmp_upTime);
        document.write(str);
    }
    </SCRIPT>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</HEAD>

<body onload=init()>
    <script>
    pageHead();
    </script>
    <form name="frmSetup" method="POST" action="do_cmd.htm">
        <INPUT type="hidden" name="CMD" value="WAN_CON">
        <INPUT type="hidden" name="GO" value="info.htm">
        <INPUT type="hidden" name="action">
    	<div style="display:flex;justify-content:space-between;width:90%;">
	    	<div class="title">
	    	    <label>Network Status</label>
	    	</div>
	    	<div>
	    		<script language="javascript">sysUpTime();</script>
	    	</div>
    	</div>
        <table class="table" cellspacing=0 cellpadding=0>
            <script language="JavaScript">genHTML();</script>
        </table>
    </form>
    <script>
    pageTail(' ');
    </script>
    </dody>

</HTML>
